<%= render partial: @above if @above %>

<ol id="stories_list" class="stories list <%= action_name == "hidden" ? "show_hidden" : "" %>">
  <%= render partial: "stories/listdetail", collection: @stories, as: :story %>
</ol>

<%= turbo_frame_tag "stories_list", src: '/', loading: :lazy %>

<%= render partial: @below if @below %>
<div class="morelink">
  <% if @show_more %>
    <%=
        link_to raw("more"),
        @root_path ? "/page/#{@page + 1}" : { controller: controller_name, action: action_name, page: @page + 1 },
        data: {
            turbo_stream: "",
            page: @page
        },
        id: "load_more",
        class: "main_button"
    %>
  <% end %>
</div>
