<%= render partial: @above if @above %>

<ol id="stories_list" class="stories list <%= action_name == "hidden" ? "show_hidden" : "" %>">
  <%= render partial: "stories/listdetail", collection: @stories, as: :story %>
</ol>

<%= render partial: @below if @below %>
<div class="morelink">
  <% if @show_more %>
    <%=
        link_to raw("Load More"),
        @root_path ? "/page/#{@page + 1}" : { controller: controller_name, action: action_name, page: @page + 1 },
        data: {
            turbo_stream: ""
        }
    %>
  <% end %>
</div>
